<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>I'm Here!</title>
  <link rel="stylesheet" href="/frontend/js/bg/jquery-jplayer/css/lanrenzhijia.css" type="text/css" />
  <link rel="stylesheet" href="/frontend/css/bg/letter.css">

  <script src="/frontend/js/bg/jquery-3.1.1.min.js"></script>
  <script src='/frontend/js/bg/jquery-jplayer/js/jquery.jplayer.min.js'></script>
  <script src='/frontend/js/bg/jquery-jplayer/js/jplayer.playlist.min.js'></script>
  <script src="/frontend/js/bg/jquery-jplayer/js/lanrenzhijia.js"></script>
</head>

<body>
  <div style="text-align:center;clear:both">
  </div>
  <div class="music-player">
    <div class="info">
      <div class="left">
        <a href="javascript:;" class="icon-shuffle"></a>
        <a href="javascript:;" class="icon-heart"></a>
      </div>
      <div class="center">
        <div class="jp-playlist">
          <ul>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="right">
        <a href="javascript:;" class="icon-repeat"></a>
        <a href="javascript:;" class="icon-share"></a>
      </div>
      <div class="progress jp-seek-bar"> <span class="jp-play-bar" style="width: 0%"></span> </div>
    </div>
    <div class="controls">
      <div class="current jp-current-time">00:00</div>
      <div class="play-controls">
        <a href="javascript:;" class="icon-previous jp-previous" title="previous"></a>
        <a href="javascript:;" class="icon-play jp-play" title="play"></a>
        <a href="javascript:;" class="icon-pause jp-pause" title="pause"></a>
        <a href="javascript:;" class="icon-next jp-next" title="next"></a>
      </div>
      <div class="volume-level jp-volume-bar">
        <span class="jp-volume-bar-value" style="width: 0%"></span>
        <a href="javascript:;" class="icon-volume-up jp-volume-max" title="max volume"></a>
        <a href="javascript:;" class="icon-volume-down jp-mute" title="mute"></a>
      </div>
    </div>
    <div id="jquery_jplayer" class="jp-jplayer"></div>
  </div>
  <div style="text-align:center;clear:both">
  </div>

  <div class="page">
    <h2 class="title">一些示例文字</h2>
    <div>
      <p>有个老头儿的狗死了，老头就把死狗打包托运准备带回家乡厚葬。但是托运的时候机场的人不知道是死的，下飞机的时候发现是死的，吓坏了。以为把狗托运死了。于是就派人去附近狗市买了一个一模一样的。后来这老头打开行李发现狗活了。于是老头给吓死了！</p>
      <p>本来抱着大哭一场的念头去观摩将爱情进行到底，结果从头笑到尾。波尔多那一场戏，徐静蕾对李亚鹏说："带我走吧。"李亚鹏答："大象怎么办？"（大象是徐静蕾的儿子）。结果您猜怎么着？邻座一个观众很严肃的说：装冰箱呀！</p>
      <p>今天全家看湖南卫视播放的古装片的时候，突然很脑残的问我爸：爸，你说我为什么要叫你做爸呢？——我爸弱弱的回答：你也可以叫我阿玛。。。</p>
      <p>病童："打针前为什么要擦棉球？" 父亲："那是酒精，先把你的屁股擦醉了，再打针就不痛了。" 病童："可是我还是痛呀！" 父亲："那是因为你屁股的酒量好啊！"</p>
    </div>
  </div>


</body>

</html>
